@page
@model ControlSeguros.App.Frontend.Pages.ConductorPag.EditarConductorModel
@{
    ViewData["Title"] = "EditarConductor";
}

<h2>Editar información de Conductor</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="EditConductor.Documento">Documento:</label>
        <input asp-for="EditConductor.Documento" class="form-control">
        <span class="text-danger" asp-validation-for="EditConductor.Documento"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditConductor.Nombre">Nombre:</label>
        <input asp-for="EditConductor.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="EditConductor.Nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditConductor.Apellidos">Apellidos:</label>
        <input asp-for="EditConductor.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="EditConductor.Apellidos"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditConductor.Telefono">Telefono:</label>
        <input asp-for="EditConductor.Telefono" class="form-control">
        <span class="text-danger" asp-validation-for="EditConductor.Telefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditConductor.FechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" asp-for="EditConductor.FechaNacimiento" class="form-control">
        <span class="text-danger" asp-validation-for="EditConductor.FechaNacimiento"></span>
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="EditConductor.Usuario" class="form-control">
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="EditConductor.Contraseña" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="EditConductor.Direccion">Direccion:</label>
        <input asp-for="EditConductor.Direccion" class="form-control">
        <span class="text-danger" asp-validation-for="EditConductor.Direccion"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditConductor.Licencia">Número de Licencia:</label>
        <input asp-for="EditConductor.Licencia" class="form-control">
        <span class="text-danger" asp-validation-for="EditConductor.Licencia"></span>
    </div>
    <div class="form-group">
        <label asp-for="EditConductor.NivelEstudio">Nivel de Estudio:</label>
        <input asp-for="EditConductor.NivelEstudio" class="form-control">
        <span class="text-danger" asp-validation-for="EditConductor.NivelEstudio"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
<br>

<a asp-page="./ListaConductores" class="btn-default">Lista</a>