@page
@model ControlSeguros.App.Frontend.Pages.PropietarioPag.CrearPropietarioModel
@{
}

<h2>Registrar Propietario</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="NewPropietario.Documento">Documento:</label>
        <input asp-for="NewPropietario.Documento" class="form-control">
        <span class="text-danger" asp-validation-for="NewPropietario.Documento"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPropietario.Nombre">Nombre:</label>
        <input asp-for="NewPropietario.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="NewPropietario.Nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPropietario.Apellidos">Apellidos:</label>
        <input asp-for="NewPropietario.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="NewPropietario.Apellidos"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPropietario.Telefono">Telefono:</label>
        <input asp-for="NewPropietario.Telefono" class="form-control">
        <span class="text-danger" asp-validation-for="NewPropietario.Telefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPropietario.FechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" asp-for="NewPropietario.FechaNacimiento" class="form-control">
        <span class="text-danger" asp-validation-for="NewPropietario.FechaNacimiento"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPropietario.Usuario">Usuario:</label>
        <input asp-for="NewPropietario.Usuario" class="form-control">
        <span class="text-danger" asp-validation-for="NewPropietario.Usuario"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPropietario.Contrase単a">Contrase単a:</label>
        <input type="password" asp-for="NewPropietario.Contrase単a" class="form-control">
        <span class="text-danger" asp-validation-for="NewPropietario.Contrase単a"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPropietario.Ciudad">Ciudad Residencia:</label>
        <input asp-for="NewPropietario.Ciudad" class="form-control">
        <span class="text-danger" asp-validation-for="NewPropietario.Ciudad"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPropietario.Correo">email:</label>
        <input asp-for="NewPropietario.Correo" class="form-control">
        <span class="text-danger" asp-validation-for="NewPropietario.Correo"></span>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>

<a asp-page="./ListaPropietarios" class="btn-default">Lista</a>