@page
@model ControlSeguros.App.Frontend.Pages.Vehiculos.RegVehiculosModel
@{

    ViewData["Title"] = "DIGSOL - Registro Vehiculo";
  
}
<h1>Registro del Vehiculo</h1>
<form method="post" class="card p-3">
    <div class="row">
        <div asp-validation-summary="All"></div>
    </div>
    <div class="form-group mb-0">

        <table class="table mt-5">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            
            <th scope="col"></th>
            
        </tr>
    </thead>
    <tr>
        <td>
            <label asp-for="NewVehiculo.Placa">Placa: </label>
            <input type="text" asp-for="NewVehiculo.Placa" class="mr-5">
        </td>
        <td>
            <label asp-for="NewVehiculo.Marca">Marca: </label>
            <input type="text" asp-for="NewVehiculo.Marca" class="mr-5">
        </td>
        <td>
            <label asp-for="NewVehiculo.Modelo">Modelo: </label>
            <input type="text" asp-for="NewVehiculo.Modelo" class="mr-5">
        </td>
        </tr>
        <tr>
        <td>
            <label asp-for="NewVehiculo.VehiculoTipoId">Tipo de Vehiculo: </label>
            <select asp-for="NewVehiculo.VehiculoTipoId" class="form-control" asp-items="ViewBag.TipoVehiculo"></select>
        </td>
        
        <td>
            <label asp-for="NewVehiculo.CantidadPasajeros">Cantidad de Pasajeros: </label>
            <input type="text" asp-for="NewVehiculo.CantidadPasajeros" class="mr-5">
        </td>
        <td>
            <label asp-for="NewVehiculo.CilindrajeMotor">Cilindraje del Motor: </label>
            <input type="text" asp-for="NewVehiculo.CilindrajeMotor" class="mr-5">
        </td>
        </tr>
        <tr>
        <td>
            <label asp-for="NewVehiculo.PropietarioId">PropietarioId</label>
            <input type="text" asp-for="NewVehiculo.PropietarioId" class="mr-5">
        </td>
        <td>
            <label asp-for="NewVehiculo.ConductorId">ConductorId</label>
            <input type="text" asp-for="NewVehiculo.ConductorId" class="mr-5">
        </td>
        <td>
            <label asp-for="NewVehiculo.MecanicoId">MecanicoId</label>
            <input type="text" asp-for="NewVehiculo.MecanicoId" class="mr-5">
        </td>
              </tr>
    
</table>

    <button type="submit" class="btn btn-primary">Addicionar</button>
    </div>
</form>

<a asp-page="./Vehiculos" class="btn-default">Lista de Vehiculos</a>