@page
@model ControlSeguros.App.Frontend.Pages.BuscarVehiculoModel
@{
}

@* Repositorio vehiculo está comentado *@

<h1>BUSCAR VEHICULO</h1>
<br><br>

<form action="" method="get">
    <div class="form-group">
        <label for="">Digite la placa: </label>
        <input type="text" class="form-control">      
    </div>

    <br>

    @* <button type="submit" class="btn btn-primary">Buscar</button> *@

    <a class="btn btn-primary" asp-page="./ConsultarVehiculos">Buscar</a>

</form>