@page
@model ControlSeguros.App.Frontend.Pages.Auxiliar.CrearVehiculo
@{
    ViewData["Title"] = "CrearVehiculo";
}

<h1>REGISTRO DE VEHICULOS</h1>
<br><br>

@* Falta poner asp-for *@

    <form action="" method="post">

        <div class="form-group">
                <label asp-for="vehiculo.Id">Placa: </label>
                <input asp-for="vehiculo.Id" class="form-control">

                <br>

                <label asp-for="vehiculo.Modelo">Modelo: </label>
                <input asp-for="vehiculo.Modelo" class="form-control">    

                <br>  

                <label asp-for="vehiculo.Año">Año: </label>
                <input asp-for="vehiculo.Año" class="form-control">          

                <br>

                <label asp-for="vehiculo.Marca">Marca: </label>
                <input asp-for="vehiculo.Marca" class="form-control"> 

                <br>

                <label asp-for="vehiculo.Propietario" >Propietario: </label>
                <input asp-for="vehiculo.Propietario"  class="form-control">

                <br>

                <label asp-for="vehiculo.Mecanico" >Mecanico: </label>
                <input asp-for="vehiculo.Mecanico"  class="form-control">

                <br>

                <label asp-for="vehiculo.Conductor" >Conductor: </label>
                <input asp-for="vehiculo.Conductor"  class="form-control">                 

                <br>

        </div>

        <br>

        <button type="submit" class="btn btn-primary">Registrar</button>
 
    </form>