@page
@model ControlSeguros.App.Frontend.Pages.Auxiliar.EditUsuario
@{
}

<h1>REGISTRO DE USUARIOS</h1>
<br><br>

    <form method="post" >

        <div class="form-group">

            <input type="hidden" asp-for="usuario.Id" class="form-control">

            <br>
            <label asp-for="usuario.Nombre">Nombre:</label>
            <input asp-for="usuario.Nombre" class="form-control">

            <br>

            <label asp-for="usuario.Apellido">Apellido: </label>
            <input asp-for="usuario.Apellido" class="form-control">
        
            <br>

            <label asp-for="usuario.NumeroTelefono">Numero de Teléfono: </label>
            <input asp-for="usuario.NumeroTelefono" class="form-control">

            <br>

            <label asp-for="usuario.email">Email: </label>
            <input asp-for="usuario.email" class="form-control">

            <br>

            <br>

            <input type="hidden" asp-for="usuario.Password" class="form-control">

            <input type="hidden" asp-for="usuario.NombreUsuario" class="form-control">

            <br>

            <label asp-for="usuario.TipoUsuario">Tipo de Usuario: </label>
            <input asp-for="usuario.TipoUsuario" class="form-control">

            <br>

            <label asp-for="usuario.FechaIngreso">Fecha de Ingreso: </label>
            <input asp-for="usuario.FechaIngreso" class="form-control">

            <br>
        </div>

        <br>

        <button type="submit" class="btn btn-primary">Guardar Cambios</button>

    </form>