@page
@model ControlSeguros.App.Frontend.Pages.Auxiliar.EditVehiculo
@{
    ViewData["Title"] = "EditVehiculo";
}

<h1>@ViewData["Title"]</h1>

<h1>EDITAR VEHICULO</h1>
<br><br>

@* Falta poner asp-for *@

    