@page
@model ControlSeguros.App.Frontend.Pages.PropietarioModel
@{
}

<h1>Registro del propietario del vehiculo</h1>
<br><br>

<form method="get">

  <div>
 
        
      <label for="">Nombres: </label>
      <input type="text" class="form-control">  

      <br>

      <label for="">Apellidos: </label>
      <input type="text" class="form-control"> 

      <br>

      <label for="">Teléfono: </label>
      <input type="text" class="form-control"> 

      <br>

      <label for="">Fecha de nacimiento: </label>
      <input type="text" class="form-control"> 

      <br> 

      <label for="">Ciudad de residencia: </label>
      <input type="text" class="form-control"> 

      <br>

      <label for="">Correo: </label>
      <input type="text" class="form-control"> >

  </div>

  <br>

  <button type="submit" class="btn btn-primary">Registrar</button>

</form>