@page
@model ControlSeguros.App.Frontend.Pages.RegistroVehiculoModel
@{
}


<h1>REGISTRO VEHICULO</h1>
<br>
<br>

@* Falta poner la ruta del action *@

    <form action="" method="get">

        <div class="form-group">

                <label for="">Placa: </label>
                <input type="text" class="form-control">

                <br>

                <label for="">Modelo: </label>
                <input type="text" class="form-control">               

                <br>  

                <label for="">año: </label>
                <input type="text" class="form-control">  

                <br>  

                <label for="">Marca: </label>
                <input type="text" class="form-control">

                <br> 

                <label for="">Tipo Vehículo (Buseta o Microbus): </label>
                <input type="text" class="form-control">

                <br> 

                <label for="">Cilindrada de motor: </label>
                <input type="text" class="form-control">

                <br> 

                <label for="">País de origen: </label>
                <input type="text" class="form-control">

                <br> 

                <label for="observaciones">Observaciones: </label>
                <br>
                <textarea name="observaciones" rows="5" cols="50" 
                placeholder="Indique características generales (si posee aire acondicionado, televisor, etc.)">
                </textarea>

        </div>

         <br>

        <button type="submit" class="btn btn-primary">Registrar</button>
 
    </form>