@page
@model ControlSeguros.App.Frontend.Pages.AuxiliarPag.CrearAuxiliarModel
@{
}

<h2>Registrar Auxiliar</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="NewAuxiliar.Documento">Documento:</label>
        <input asp-for="NewAuxiliar.Documento" class="form-control">
        <span class="text-danger" asp-validation-for="NewAuxiliar.Documento"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewAuxiliar.Nombre">Nombre:</label>
        <input asp-for="NewAuxiliar.Nombre" class="form-control">
        <span class="text-danger" asp-validation-for="NewAuxiliar.Nombre"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewAuxiliar.Apellidos">Apellidos:</label>
        <input asp-for="NewAuxiliar.Apellidos" class="form-control">
        <span class="text-danger" asp-validation-for="NewAuxiliar.Apellidos"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewAuxiliar.Telefono">Telefono:</label>
        <input asp-for="NewAuxiliar.Telefono" class="form-control">
        <span class="text-danger" asp-validation-for="NewAuxiliar.Telefono"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewAuxiliar.FechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" asp-for="NewAuxiliar.FechaNacimiento" class="form-control">
        <span class="text-danger" asp-validation-for="NewAuxiliar.FechaNacimiento"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewAuxiliar.Usuario">Usuario:</label>
        <input asp-for="NewAuxiliar.Usuario" class="form-control">
        <span class="text-danger" asp-validation-for="NewAuxiliar.Usuario"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewAuxiliar.Contrase単a">Contrase単a:</label>
        <input type="password" asp-for="NewAuxiliar.Contrase単a" class="form-control">
        <span class="text-danger" asp-validation-for="NewAuxiliar.Contrase単a"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewAuxiliar.Direccion">Direccion:</label>
        <input asp-for="NewAuxiliar.Direccion" class="form-control">
        <span class="text-danger" asp-validation-for="NewAuxiliar.Direccion"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>

<a asp-page="./ListaAuxiliares" class="btn-default">Lista</a>